body {
  margin: 0;
  padding: 0;
  background: #ccc;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
.nav x {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
.nav c {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
.nav d {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
.nav e {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: Tomato;
}
.nav x:hover {
  background-color: Orange;
}
.nav c:hover {
  background-color: DodgerBlue;
}
.nav d:hover {
  background-color: MediumSeaGreen;
}
.nav e:hover {
  background-color: SlateBlue;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}
