body {
  margin: 0;
  padding: ;
  background: #ccc;
}

.topnav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.topnav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  line-height: 10px;
  height: 10px;
  border-bottom: 5px solid #888;
}
#logo{
    position: relative;
    top: 4px;
    left:40px;
    width:30px;
    height:30px;
    overflow:hidden;
}
.topnav g {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
.topnav x {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
.topnav c {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
.topnav d {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
.topnav e {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.topnav g:hover {
  background-color: #f74c36;
  cursor: pointer;
}
.topnav x:hover {
  background-color: Orange;
  cursor: pointer;
}
.topnav c:hover {
  background-color: MediumSeaGreen;
  cursor: pointer;
}
.topnav d:hover {
  background-color: DodgerBlue;
  cursor: pointer;
}
.topnav e:hover {
  background-color: Purple;
  cursor: pointer;
}

.topnav g.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 300px) {
  .topnav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  .topnav li {
    display: inline-block;
    margin-right: -4px;
  }
}
